.button {
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-background-color: #0d2e57;
}

.button-pressed {
    -fx-text-fill: black;
    -fx-background-radius: 0;
    -fx-background-color: white;
}

.button-x {
    -fx-scale-x: .5;
    -fx-scale-y: .5;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 12;
}

.label-cart {
    -fx-background-color: #0d2e57;
    -fx-text-fill: white;
    -fx-font-size: 14;
}
