
.background {
    -fx-background-color: #0d2e57;
}

.label {
    -fx-font-family: "Roboto";
}


.button{
    -fx-background-radius: 5px;
    -fx-padding: 10;
    -fx-background-color: #405784;
    -fx-text-fill: white;
    -fx-pref-width: 100;
    -jfx-button-type: RAISED;
}

.notification-list {
    -fx-background-radius: 10;
    -fx-padding: 10;
}

.check-box{
    -fx-text-fill: white;
    -fx-font-size: 14;
}


.topBorder {
    -fx-background-color: #00032E;
}