.background-pane-fx {
    -fx-pref-height: 720;
    -fx-pref-width: 1280;
    -fx-max-height: 720;
    -fx-max-width: 1280;
    -fx-background-color: white;
}

.cancel-button-jfx {
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-padding: 10;

    -fx-background-color: gray;
    -fx-pref-width: 150;
    -fx-pref-height: 50;
    -fx-max-width: 150;
    -fx-max-height: 150;
    -jfx-button-type: RAISED;
}

.save-button-jfx {
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-padding: 10;

    -fx-background-color: #0D2E57;
    -fx-pref-width: 150;
    -fx-pref-height: 50;
    -fx-max-width: 150;
    -fx-max-height: 50;
    -jfx-button-type: RAISED;
}

.text-field-jfx {
    -fx-background-color: #DCDCDC;
    -fx-background-radius: 0;
    -jfx-unfocused-color: white;
    -jfx-focused-color: #0D2E57;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-max-width: 200;
    -fx-max-height: 40;

    -fx-font-size: 15;
    -jfx-label-float: true;
}

.combo-box-jfx {
    -fx-background-color: #DCDCDC;
    -fx-background-radius: 0;
    -jfx-unfocused-color: white;
    -jfx-focused-color: #0D2E57;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-max-width: 200;
    -fx-max-height: 40;

    -fx-font-size: 15;
}

.bottom-bar-hbox-fx {
    -fx-background-color: #00032E;
    -fx-pref-height: 100;
    -fx-max-height: 100;
    -fx-alignment: center;
}

.bottom-bar-time-label-jfx {
    -fx-text-fill: white;
    -fx-font-size: 50;
    -fx-padding: 0 0 0 30;
}

.bottom-bar-spacing-hbox-fx {
    -fx-orientation: CENTER;
    -fx-pref-width: 857.6;
    -fx-max-width: 857.6;
}

.bottom-bar-logout-label-jfx {
    -fx-text-fill: white;
    -fx-underline: true;
    -fx-font-size: 50;
    -fx-padding: 0 30 0 0;
}

.service-request-header-label-jfx {
    -fx-text-fill: #00032E;
    -fx-font-size: 75;
    -fx-font-weight: bold;
}

.check-box-jfx {
    -fx-font-size: 15;
    -jfx-checked-color: #0D2E57;
}
