
.background {
    -fx-background-color: #0d2e57;
}

.label {
    -fx-font-family: "Roboto";
}

.button {
   -fx-font-family: Roboto;
    -fx-font-size: 14;
    -fx-background-radius: 5px;
}

.notification-list {
    -fx-background-radius: 10;
    -fx-padding: 10;
}

