/*-------------------------Room Scheduler Times -------------------------------------------*/
/*applies automatically*/
.tree-table-cell {
    -fx-alignment: center;
    -fx-font-size: 15;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
    -fx-pref-width: 150;
}

.tree-table-row-cell:odd {
    -fx-background-color: #f9f9f9;
    /*-fx-background-insets: 0, 0 0 1 0;*/
}

.tree-table-view .column-header {
    -fx-alignment: center;
    -fx-border-color: black;
    -fx-border-width: .5px;
    -fx-background-color: #DCDCDC;
    -fx-pref-width: 150;
}

.tree-table-view .column-header .label{
    -fx-font-size: 20;
    -fx-text-fill: black;
    -fx-text-alignment: center;
}

.jfx-tree-table-view > .virtual-flow > .clipped-container > .sheet > .tree-table-row-cell:filled:selected {
    -fx-background-color: #b9c1de;
}

.tree-table-view {
    -fx-pref-width: 464;
    -fx-max-width: inherit;
    -fx-pref-height: 500;
}