
.background {
    -fx-background-color: #0d2e57;
}

.label {
    -fx-font-size: 30;
    -fx-text-fill: white;
}

.error-label {
    -fx-font-size: 16;
    -fx-text-fill: red;
}

.title {
    -fx-font-size: 40;
    -fx-text-fill: white;
}

.button{
    -fx-background-radius: 5px;
    -fx-padding: 10;
    -fx-background-color: grey;
    -fx-text-fill: white;
    -fx-pref-width: 150;
    -jfx-button-type: RAISED;
}

.text-field {
    -fx-background-color: white;
    -fx-pref-height: 40px;
    -fx-border-radius: 10 0 0 10;
    -fx-pref-width: 250;
}

.text-area {
    -fx-background-color: white;
    -fx-pref-height: 150px;
}

.title-background {
    -fx-background-color:  #00032E;
}
.jfx-combo-box {
    -fx-text-inner-color: white;
    -fx-prompt-text-fill: lightgrey;
    -fx-text-fill: white;
}

.combo-box > .cell {
    -fx-text-fill: black;
}

.labelTrans{
    -fx-text-fill: black;
    -fx-font-weight: bold;
}


.translateButtons{
    -fx-text-fill: black;
    -jfx-button-type: FLAT;

}

.back{
    -fx-background-color: white;
    -jfx-button-type: FLAT;
}

.maintenanceComboBox {
    -fx-text-inner-color: black;
    -fx-prompt-text-fill: gray;
    -fx-text-fill: black;
    -fx-background-color: white;
}
