
.background {
    -fx-background-color: #0d2e57;
}

.label {
    -fx-font-family: "Roboto";
    -fx-font-size: 30;
}

.title {
    -fx-font-family: "Roboto";
    -fx-font-size: 70;
}

.button{
    -fx-font-family: "Roboto";
    -fx-background-radius: 5px;
    -fx-background-color: #405784;
}

.text-field {
    -fx-background-color: white;
    -fx-pref-height: 40px;
}

.text-area {
    -fx-background-color: white;
    -fx-pref-height: 150px;
}

