.text-field {
    -fx-border-radius: 5 0 0 5;
    -fx-background-color: white;
    -fx-pref-height: 40px;
    -fx-pref-width: 250;
}

.fieldLabel {
    -fx-text-fill: white;
    -fx-font-size: 30;
}

.combo-box > .cell {
    -fx-text-fill: black;
}

.jfx-combo-box {
    -fx-prompt-text-fill: black;
}